:root {
    --primary: #f14a51;
    --secondary: #227a51;
    --tertiary: #d0b362;
}

.logo {
    text-align: center;
    margin-top: -50px;
    margin-bottom: -80px;
}

nav {
   text-align: center;
}

/* ul {
    margin-left: 30px;
} */

ul li {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    font-family: 'Orelega One', cursive;
}

ul li:hover {
    color: var(--secondary);
}

.solid {
    border-top: 3px solid #bbb;
}